<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                <%
                   users.forEach(function(user){%>
                       <li class="list-group-item"><%=user.id%>:<%=user.name%></li>
                <%})
                %>
            </ul>
        </div>
    </div>
</div>
</body>
</html>